# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/*
# Docs
docs/
# Dotenv file
.env
node_modules
.DS_Store
*.zip
yarn.lock
*.mjs
package-lock.json
package.json

.gitmodules

eth_0x784ca0c006b8651bab183829a99fa46bece50dbc_code/
script/